<?xml version="1.0"?>
<config>
    <tabs>
        <magetrend translate="label" module="exitpopup">
            <label>Magetrend Extensions</label>
            <sort_order>401</sort_order>
        </magetrend>
    </tabs>
    <sections>
        <exitpopup translate="label" module="exitpopup">
            <label>Exit Popup</label>
            <tab>magetrend</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <info translate="label">
                    <label>Info</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <info translate="label">
                            <label>Info</label>
                            <frontend_model>exitpopup/adminhtml_system_config_info</frontend_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </info>
                    </fields>
                </info>
                <general translate="label">
                    <label>General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <jquery translate="label">
                            <label>Include jQuery Library</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>Mostly jQuery is already included</comment>
                        </jquery>
                        <dev translate="label">
                            <label>Development mode</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>Yes - Popup will show every time</comment>
                        </dev>
                    </fields>
                </general>
                <popup translate="label">
                    <label>Offer Popup Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <isactive translate="label">
                            <label>Is Active</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </isactive>
                        <content translate="label">
                            <label>Popup Content</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>exitpopup/adminhtml_system_config_content</source_model>
                        </content>
                        <theme translate="label">
                            <label>Theme</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>exitpopup/adminhtml_system_config_newsletterpopuptheme</source_model>
                        </theme>
                        <showonlast translate="label">
                            <label>Show in last tab</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>E.g. If you have opened 3 tabs, popup will show only than you will try to close last tab.</comment>
                        </showonlast>
                        <layer_close translate="label">
                            <label>Close after Click on Popup Layer</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </layer_close>

                        <cookiename translate="label">
                            <label>Cookie Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>If you change this name, popup show again for all customers</comment>
                        </cookiename>
                        <cookielifetime translate="label">
                            <label>Cookie Lifetime (days)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>After days popup show again</comment>
                        </cookielifetime>



                    </fields>
                </popup>
                <newsletter_subscription_form translate="label">
                    <label>Newsletter Subscription Form Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <text_1 translate="label">
                            <label>Text Line 1</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </text_1>
                        <text_2 translate="label">
                            <label>Text Line 2</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </text_2>
                    </fields>

                </newsletter_subscription_form>


                <static_cms_block translate="label">
                    <label>Static CMS Block Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <id translate="label">
                            <label>Static Block</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>exitpopup/adminhtml_system_config_cms</source_model>
                        </id>
                    </fields>
                </static_cms_block>

                <coupon translate="label">
                    <label>Coupon Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>120</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <isactive translate="label">
                            <label>Is Active</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </isactive>

                        <roleid translate="label">
                            <label>Shopping Cart Price Rule</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Add new rule: "Admin -> Promotion -> Shopping Cart Price Rule" </comment>
                            <source_model>exitpopup/adminhtml_system_config_couponlist</source_model>
                        </roleid>
                        <length translate="label">
                            <label>Length</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Excluding prefix, suffix and separators.</comment>
                        </length>
                        <format translate="label">
                            <label>Format</label>
                            <frontend_type>select</frontend_type>
                            <source_model>exitpopup/adminhtml_system_config_coupon</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </format>
                        <prefix translate="label">
                            <label>Prefix</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </prefix>
                        <suffix translate="label">
                            <label>Suffix</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </suffix>
                        <dash translate="label">
                            <label>Dash</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>If empty no separation.</comment>
                        </dash>
                    </fields>
                </coupon>
                <theme_default translate="label">
                    <label>Theme "Default" Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>112</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <color_1 translate="label">
                            <label>Primary Color</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>exitpopup/adminhtml_system_config_form_field_color</frontend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </color_1>

                        <color_2 translate="label">
                            <label>Secondary Color</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>exitpopup/adminhtml_system_config_form_field_color</frontend_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </color_2>

                        <color_3 translate="label">
                            <label>Additional Color</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>exitpopup/adminhtml_system_config_form_field_color</frontend_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </color_3>

                    </fields>
                </theme_default>

                <translate translate="label">
                    <label>Translate</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <subscribe translate="label">
                            <label>Subscribe</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </subscribe>

                        <email translate="label">
                            <label>Email</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </email>

                        <success_message translate="label">
                            <label><![CDATA[Thank you for your subscription.<span>Check your email, we have sent voucher for you!</span>]]></label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Use &lt;span&gt;&lt;/span&gt; if you want to add one more line.]]></comment>
                        </success_message>

                        <success_message_need_to_confirm translate="label">
                            <label>Confirmation request has been sent.</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </success_message_need_to_confirm>

                        <wait translate="label">
                            <label>Wait...</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </wait>

                        <field translate="label">
                            <label>Field</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </field>

                        <is_required translate="label">
                            <label>is required</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_required>

                        <must_be_checked translate="label">
                            <label>must be checked!</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </must_be_checked>

                        <email_already_exist translate="label">
                            <label>This email address already exists</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </email_already_exist>

                        <error_with_coupon_generation translate="label">
                            <label>There was a problem with coupon generation.</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </error_with_coupon_generation>

                        <error_with_subscription translate="label">
                            <label>There was a problem with the subscription.</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </error_with_subscription>

                        <error_email_not_valid translate="label">
                            <label>Please enter a valid email address.</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </error_email_not_valid>

                        <email_is_assigned_to_another_user translate="label">
                            <label>This email address is already assigned to another user.</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </email_is_assigned_to_another_user>
                    </fields>
                </translate>
            </groups>
        </exitpopup>
    </sections>
</config>